build/
out/
bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.VC.db
*.VC.opendb
*.log
*.tmp
*.cache
*.pdb
*.ilk
*.obj
*.ipch
*.aps
*.tlog
*.lastbuildstate
*.recipe
*.idb
*.exe
*.dll
*.lib
*.exp
*.opensdf
*.sdf
*.ncb
app_catalog.json
PreView-Files/

!third_party/pdfium/bin/
!third_party/pdfium/bin/pdfium.dll
!third_party/pdfium/lib/pdfium.dll.lib
!third_party/libheif/lib/heif.lib
!third_party/libde265/lib/libde265.lib
!third_party/x265/lib/x265-static.lib
!third_party/mpv/libmpv-2.dll.part1
!third_party/mpv/libmpv-2.dll.part2
!third_party/mpv/libmpv-2.dll.part3
!third_party/7zip/private/
!third_party/7zip/private/7z.exe
!third_party/7zip/private/7z.dll
!third_party/openssl/
!third_party/openssl/bin/
!third_party/openssl/bin/libcrypto-1_1-x64.dll
!third_party/openssl/bin/libssl-1_1-x64.dll
/build-x86
